.main-page {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    padding: 20px;
    padding-top: 80px;
}

.left-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30%; 
    height: 85%;
    background-color: #e7e4e4; 
    border-radius: 10px; 
    padding-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center; 
    gap: 10px; 
    margin-bottom: 20px; 
    margin-top: 20px;
}

.right-section {
    width: 60%; 
}

.calendar-wrapper {
    width: 100%; 
    display: flex;
    justify-content: center; 
}

.create-category-button,
.create-schedule-button {
    background-color: #484848; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 5px; 
}

.create-category-button:hover,
.create-schedule-button:hover {
    background-color: #8a8a8a; 
}

.pet-info-list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: #ffffff;
    width: 80%;
    border-radius: 8px; 
}

.my-pets, .care-giver-pets {
    margin-bottom: 20px;
}

.my-pets h3, .care-giver-pets h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.pet-info-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.care-giver-pet-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.pet-info-content {
    flex-grow: 1; 
}

.pet-info-list p {
    margin: 5px 0;
}

.pet-checkbox {
    width: 20px; 
    height: 20px; 
    margin-right: 10px; 
    cursor: pointer; 
    accent-color: #007bff; 
}

.pet-checkbox:hover {
    background-color: #e0e0e0; 
}

.pet-checkbox:focus {
    outline: 2px solid #007bff; 
    outline-offset: 2px;
}
