.main-page {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    padding: 20px;
    padding-top: 80px;
}

.left-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30%; 
    height: auto;
    background-color: #e7e4e4; 
    border-radius: 10px; 
}

.button-container {
    display: flex;
    justify-content: center; 
    gap: 10px; 
    margin-bottom: 20px; 
    margin-top: 20px;
}

.right-section {
    width: 60%; 
}

.calendar-wrapper {
    width: 100%; 
    display: flex;
    justify-content: center; 
}

.create-category-button,
.create-schedule-button {
    background-color: #484848; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 5px; 
}

.create-category-button:hover,
.create-schedule-button:hover {
    background-color: #8a8a8a; 
}

.pet-info-list {
    margin-top: 20px;
    background-color: #ffffff;
}

.pet-info-list p {
    margin: 5px 0;
}

