.main-page {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    padding: 20px;
    padding-top: 80px;
}

.left-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30%; 
    height: 850px;
    background-color: #e7e4e4; 
    border-radius: 10px; 
    padding-bottom: 20px;
    margin-right: 2%;
}

.button-container {
    display: flex;
    justify-content: center; 
    gap: 10px; 
    margin-bottom: 20px; 
    margin-top: 20px;
}

.right-section {
    width: 60%; 
}

.calendar-wrapper {
    width: 100%; 
    display: flex;
    justify-content: center; 
}

.create-category-button,
.create-schedule-button {
    background-color: #484848; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 5px; 
}

.create-category-button:hover,
.create-schedule-button:hover {
    background-color: #8a8a8a; 
}

/* 내 반려동물 섹션 */
.my-pets-section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 90%;
}

.my-pets-section h3 {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.pet-info-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 90%;
}

/* 돌보미 반려동물 섹션 */
.care-giver-pets-section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 90%;
}

.care-giver-pets-section h3 {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.care-giver-pet-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 90%;
}

.pet-info-content {
    flex-grow: 1; 
}

.pet-info-list p {
    margin: 5px 0;
}

.pet-checkbox {
    width: 20px; 
    height: 20px; 
    margin-right: 10px; 
    cursor: pointer; 
    accent-color: #007bff; 
}

.pet-checkbox:hover {
    background-color: #e0e0e0; 
}


/* 일정 리스트 */
.schedule-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20%; 
    height: 850px;
    background-color: #e7e4e4; 
    border-radius: 10px; 
    padding-bottom: 20px;
    margin-right: 2%;
    overflow-y: auto;
}

.schedule-list::-webkit-scrollbar {
    width: 0px; /* 스크롤바의 너비를 0으로 설정하여 숨깁니다 */
    background: transparent; /* 배경색을 투명으로 설정하여 보이지 않게 함 */
  }

.schedule-list-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
}

.schedule-item {
    background-color: #fff;
    border: 1px solid #ffffff;
    border-radius: 3px;
    padding: 10px; /* 패딩 추가 */
    position: relative; /* 펼치기 기능을 위한 위치 설정 */
    transition: box-shadow 0.2s; /* 마우스 오버 시 부드러운 그림자 효과 */
}

.schedule-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* 마우스 오버 시 그림자 효과 */
}

.schedule-item p {
    margin: 5px;
}

.schedule-checkbox {
    width: 20px; 
    height: 20px; 
    margin-top: 20px; 
    cursor: pointer; 
    accent-color: #007bff; 
}

.schedule-checkbox:hover {
    background-color: #e0e0e0; 
}

.error {
    color: red;
}

.schedule-dates {
    margin-top: 5px;
    color: #555; /* 날짜 텍스트 색상 */
}

.toggle-arrow {
    cursor: pointer; /* 클릭 가능한 요소 */
    margin-left: 10px; /* 제목과 아이콘 사이의 간격 */
}

.schedule-title {
    cursor: pointer; /* 클릭 가능한 요소 */
}

.category-section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 90%;
}

.category-section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.category-item {
    display: flex;
    align-items: center; /* 수직 정렬 */
    justify-content: space-between; /* 좌우 공간 배분 */
    margin-bottom: 10px;
    width: 90%;
}

.category-info-content {
    flex-grow: 1; /* 남은 공간을 차지 */
}

.category-checkbox {
    width: 20px; 
    height: 20px; 
    cursor: pointer; 
    accent-color: #007bff; 
}

.category-checkbox:hover {
    background-color: #e0e0e0; 
}

.sort-select{
    margin-bottom: 20px;
}

.all-select {
    margin-bottom: 20px;
    cursor: pointer; 
}