.schedule-preview {
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    margin-top: 50px;
    width: 400px;
    height: 850px;
  }

  .schedule-preview-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
  }
  .schedule-preview p {
    color: red;
    font-size: 16px;
    margin: 5px 0; /* 제목 간 간격을 줄임 */
  }

  .schedule-preview h5 {
    margin: 10px 0; /* 제목 간 간격을 줄임 */
  }
  
  