.schedule-modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1000; 
}
  
  .schedule-modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 600px;
    max-width: 100%;
    position: relative;
    height: 85%; 
    overflow-y: auto; 
    margin-top: 50px;
  }
  
  .schedule-modal-content h2 {
    margin: 0 0 15px 0;
  }
  
  .schedule-modal-content label {
    display: block;
    margin: 10px 0;
  }
  
  .schedule-modal-content input,
  .schedule-modal-content select,
  .schedule-modal-content textarea {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .schedule-modal-content textarea {
    resize: vertical;
  }
  
  .schedule-modal-save-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .schedule-modal-close-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .day-buttons-container {
    display: flex;
    gap: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
    overflow: auto; 
    max-height: 300px; 
  }
  
  .day-button {
    padding: 8px 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: pointer;
  }
  
  .day-button.selected {
    background-color: #007bff;
    color: #fff;
  }

  .month-container {
    margin-bottom: 20px;
  }
  
  .day-button {
    padding: 5px 10px;
    margin: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
  }
  
  .day-button.selected {
    background-color: #4caf50;
    color: #fff;
  }
  
  .month-container h3 {
    margin: 0;
  }
  

.pets-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 5px;
}

.pet-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  width: 150px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.pet-card:hover {
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pet-card img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 8px;
}

.pet-card label {
  display: block;
  font-size: 14px;
  color: #333;
  margin: 0;
}
