.schedule-modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1000; 
}
  
  .schedule-modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 600px;
    max-width: 100%;
    position: relative;
    height: 85%; 
    overflow-y: auto; 
    margin-top: 50px;
  }
  
  .schedule-modal-content h2 {
    margin: 0 0 15px 0;
  }
  
  .schedule-modal-content label {
    display: block;
    margin: 10px 0;
  }
  
  .schedule-modal-content input,
  .schedule-modal-content select,
  .schedule-modal-content textarea {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .schedule-modal-content textarea {
    resize: vertical;
  }
  
  .schedule-modal-save-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .schedule-modal-close-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .day-buttons-container {
    display: flex;
    gap: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
    overflow: auto; 
    max-height: 300px; 
  }
  
  .day-button {
    padding: 8px 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: pointer;
  }
  
  .day-button.selected {
    background-color: #007bff;
    color: #fff;
  }

  .month-container {
    margin-bottom: 20px;
  }
  
  .day-button {
    padding: 5px 10px;
    margin: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
  }
  
  .day-button.selected {
    background-color: #4caf50;
    color: #fff;
  }
  
  .month-container h3 {
    margin: 0;
  }
  

.pets-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 5px;
}

.pet-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  width: 150px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.pet-card:hover {
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pet-card img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 8px;
}

.pet-card label {
  display: block;
  font-size: 14px;
  color: #333;
  margin: 0;
}

.custom-small-calendar {
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 14px;
  width: 100%; 
  height: 445px;
  display: grid; 
  grid-template-rows: repeat(6, 1fr);
}

.custom-small-calendar .react-calendar__tile {
  padding: 10px;
  box-sizing: border-box;
  height: 60px; 
  border: none; 
  background-color: transparent; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.custom-small-calendar .react-calendar__month-view__days__day {
  flex: 0 0 14.2857%; 
}

.custom-schedule-list {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 70%; 
  justify-content: flex-start;
  text-align: center;
  overflow-y: auto;
  height: 120px; 
  margin: 0 auto;
  background-color: #e7e4e4;
  border: 1px solid #e7e4e4;
  border-radius: 5px;
}

.custom-schedule-container {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 100%;
  height: 200px; 
  background: #e7e4e4;
  text-align: center;
}

.custom-schedule-item {
  padding: 5px; 
  margin: 5px auto; 
  background-color: #FFFFFF; 
  margin-bottom: 10px;
  border-radius: 10px;
  width: 70%;
}

.selected-day {
  background-color: #6c9f6e !important; /* 원하는 배경색 */
  color: #fff; /* 글자색 */
}

.selected-date {
  background-color: #6c9f6e !important; /* 원하는 배경색 */
  color: #fff; /* 글자색 */
}

.react-calendar__tile--active {
  background: none; /* 배경을 제거 */
  color: inherit; /* 기본 색상으로 설정 */
}

.react-calendar__tile--now {
  color: #1708eb; /* 글자색 변경 */
}