.friendCard {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 150px;
    margin: 10px;
}

.friendImage {
    width: 100%;
    height: auto;
}

.accept-button, .reject-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
}

.accept-button:hover {
    background-color: #0056b3;
}

.reject-button {
    background-color: #dc3545;
}

.reject-button:hover {
    background-color: #c82333;
}
