html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.homepage-container {
    background: linear-gradient(rgb(229, 159, 112) 20%, rgb(255, 255, 255) 80%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.homepage-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.homepage-logo {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    margin-left: 8%;
    margin-top: 2%;
    cursor: pointer;
}

.button-group {
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    height: 100px;
    width: 1200px;
    text-size-adjust: 100%;
    font-size: 12.96px;
    unicode-bidi: isolate;
    gap: 0px; 
    position: absolute;
    left: 88%;
    transform: translateX(-50%);
    margin-top: 20px;
}

.homepage-button {
    box-sizing: border-box;
    display: block;
    height: 100px;
    width: 100px;
    text-size-adjust: 100%;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: -0.3px;
    line-height: 100px;
    text-align: left;
    text-decoration: none; 
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    color: rgb(255, 255, 255); 
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    list-style: none;
    background: none;
    border: none;
    padding: 0;
    text-align: center;
}

.homepage-button:hover {
    color: #000000; 
} 

.main-content {
    margin-top: 2vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.main-card {
    position: relative;
    box-sizing: border-box;
    display: block;
    height: 800px;
    width: 85vw;
    padding: 110px 0 0 0; 
    text-size-adjust: 100%;
    font-size: 12.96px;

    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(255, 255, 255);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;

    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.content-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.controls-area {
    display: grid;
    place-items: center;  
    height: 50vh; 
    width: 100%;     
    margin-bottom: 8vh;
}

.swiper-pagination {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 76px;
    right: 90px;
    top: 323px;
    width: 10px;
    z-index: 101;
    text-size-adjust: 100%;
    font-family: 'Pretendard', sans-serif;
    font-size: 12.96px;
    column-gap: 15px;
    gap: 20px; 
    transform: matrix(1, 0, 0, 1, 0, -38);
    unicode-bidi: isolate;
}

.swiper-pagination-bullet {
    box-sizing: border-box;
    display: block;
    height: 10px;
    width: 10px;
    background-color: rgb(66, 55, 47);
    border-radius: 50%;
    opacity: 0.2;
    cursor: pointer;
    transform: scale(1);
    transition: 
        transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1),
        opacity 0.3s ease,
        background-color 0.3s ease;
}

.swiper-pagination-bullet-on {
    opacity: 1;
    background-color: rgb(66, 55, 47);
    transform: scaleY(2.2); 
    width: 10px; 
    border-radius: 50% / 25%; 
    transition: 
        transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1),
        opacity 0.3s ease,
        background-color 0.3s ease;
}

.swiper-pagination-bullet.active {
    opacity: 1;
}

.text-area {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 20px;
    text-size-adjust: 100%;
    margin-bottom: 10%;
    transition-delay: 0.3s;
    transition-duration: 1s;
    transition-property: opacity, transform;
    transition-timing-function: ease;
    transition: all 0.8s ease-in-out;
}

.text-area .title {
    font-size: 2.8rem;
    font-weight: 900;
    color: #e58f65;
    margin-bottom: 20px;
}

.text-area .subtitle {
    font-size: 1.6rem;
    font-weight: 700;
    color: #555;
    margin-bottom: 15px;
}

.text-area .description {
    font-size: 1rem;
    font-weight: 500;
    color: #777;
    line-height: 1.8;
}

.slider_wrap {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 13%;
    margin-bottom: 10%;
    transition: all 0.8s ease-in-out;
}

.slider-image {
    width: 100%;
    max-width: 1000px;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.fade {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease-in-out;
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.fade-out {
    opacity: 0;
    transform: translateY(-30px);
}

/* 컨트롤 영역 */
.controls {
    position: relative;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    display: flex;
    height: 17.5px;
    width: 511.688px;
    text-size-adjust: 100%;
    font-size: 12.96px;
    transition: opacity 1s, transform 1s ease;
    opacity: 1;
}

/* 페이징 정보 */
.fraction.swiper-pagination-fraction {
    bottom: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    height: 17.5px;
    width: 155px;
    font-family: Outfit;
    font-size: 14px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.swiper-pagination-current {
    font-weight: 900;
    color: rgb(66, 55, 47);
    
}

.swiper-pagination-total {
    font-weight: 900;
    color: rgba(66, 55, 47, 0.5);
}

.progress {
    position: relative;
    align-items: center;
    box-sizing: border-box;
    display: block;
    height: 1px;
    width: 90px;
    background-color: rgb(225, 225, 225);
    margin-bottom: 20px;
}

.progress .bar {
    position: absolute;
    height: 1px;
    left: 0;
    width: 0;
    background-color: rgb(66, 55, 47);
    animation: progressAnimation 5s linear infinite;
}

@keyframes progressAnimation {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

#section02 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    margin-top: 5%;
    margin-bottom: 10%;
    width: 90vw;
    font-weight: 400;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position: 0px 0%;
    background-repeat: no-repeat;
    background-size: auto;
    unicode-bidi: isolate;
    text-align: center;
}

.tit_wrap {
    box-sizing: border-box;
    display: block;
    height: 162px;
    margin-bottom: 40px;
    padding-top: 25px;
    width: 1175px;
    font-weight: 400;
    text-align: center;
    background-position: 50% 0px;
    background-repeat: no-repeat;
}

.animate {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease-in-out;
}

.animate.visible {
    opacity: 1;
    transform: translateY(0);
}

.s_tit {
    box-sizing: border-box;
    display: block;
    height: 56px;
    width: 1175px;
    font-weight: 500;
    letter-spacing: -0.3px;
    line-height: 28px;
    text-align: center;
    color: rgb(119, 119, 119);
    word-break: break-all;
    margin-top: 30px;
}

ul {
    box-sizing: border-box;
    display: flex; 
    justify-content: center; 
    gap: 100px; 
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 0 0 15%; 
    margin-top: 50px;
}

li {
    position: relative;
    box-sizing: border-box;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
    height: 50vh;
    width: 20vw;
    text-align: left;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15); 
    transition: all 0.3s ease;
    background-color: #fff; 
    border-radius: 10px; 
    overflow: hidden; 
}

li img {
    width: 100%; 
    max-height: 100%; 
}

.bg {
    position: absolute;
    height: 40px;
    padding-top: 40px;
    top: 200px;
    width: 100%;
    background-color: #fff;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.txt_box {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 250px; 
    text-align: center;
    background-color: #fff;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}

.txt {
    height: 10%;
    width: 100%;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: rgb(119, 119, 119);
    margin-bottom: 15px;
    height: 50%; 
}

h4 {
    color: rgb(218, 137, 83);
    font-weight: 900;
    font-size: 22px;
    margin-bottom: 10px;
}
